::placeholder{
    font-size: 18px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: gray;
  border-radius: 5px;
}
